.products{
display: flex;
flex-wrap: wrap;
justify-content: center;
}
.product__single{
height: 220px;
width: 200px;
margin:20px;
background: rgb(237, 230, 230);
text-align: center;
cursor: pointer;
padding: 20px;
border-radius: 2%;
}
.product__single__imgs{
  width: 100%;
  height: 85%;
  object-fit: cover;
  /* margin-bottom: 5px; */
}
.pagination{
  padding: 10px;
  display: flex;
  justify-content: center;
  margin:15px 0;
}
.pagination > span{
  padding: 15px 20px;
  border: 1px solid gray;
  cursor: pointer;
}
.pagination__selected{
  background: #efeaea;
}
.pagination_disabled{
  opacity: 0;
}
.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
}